/* templates lib modal  */
#templates-lib-modal {
    top: calc(100vh - 85px);
    position: fixed;
    left: 0;
    width: 300px;
    height: 100%;
    background: white;
    border: 1px solid #000;
    z-index: 2000;
    padding: 10px;
    border-radius: 4px;
    transition: top .5s;
}

#templates-lib-modal.is-show {
    top: 10px;
}

#templates-lib-modal>.templates-lib {
    padding: 40px 10px;
}

#templates-lib-modal>.templates-lib:first-child {
    border-bottom: 1px solid #e5e5e5;
}

/* hide components  */
#templates-lib-modal>.templates-lib:last-of-type {
    display: none;
}

.lib-item {
    cursor: pointer;
}

.grading_template_btn {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: white;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    transition: .2s;
    margin-bottom: 5px;
}

.grading_template_btn:hover {
    background: rgb(241, 241, 241);
}

/* component inside the editor  */
.lib-component {
    margin: 20px 0;
    padding: 0;
    position: relative;
    border: 1px solid #e5e5e5;
}

.lib-component::after {
    position: absolute;
    display: block;
    bottom: 100%;
    left: 100%;
    width: 15px;
    height: 15px;
    content: "x";
    z-index: 2000;
    border: 1px solid #e5e5e5;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.lib-component::after:hover {
    background: rgb(255, 213, 213);
}

.disable_grading_template_html_field_css .lib-component {
    margin: 0;
    padding: 0;
    border: none;
    position: static;
}

.disable_grading_template_html_field_css .lib-component::after {
    display: none;
}

/* preview  */
#preview_criterion_modal {
    font-size: 16px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #0000008f;
    z-index: 2001;
}

#preview_criterion_container {
    padding: 2em 1em 1em 1em;
    background: white;
    width: 900px;
    max-width: calc(100vw - 20px);
    max-height: calc(100vh - 40px);
    overflow-y: auto;
    margin: 20px auto;
    line-height: 1.5em;
    box-sizing: border-box;
    position: relative;
    border-radius: 6px;
}

#preview_criterion {
    background: white;
    margin-top: 20px;
    border: 1px solid #cfdbe8;
    border-radius: 6px;
    overflow: hidden;
}

.preview_criterion_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #cfdbe8;
    padding: 1em;
}

.preview_criterion_header>svg {
    margin-left: 0.75em;
    width: 1.5em;
}

.preview_criterion_header div {
    gap: 0.875em;
    display: flex;
    font-weight: 700;
}

.preview_criterion_header div svg {
    width: 1.25em;
}

.preview_criterion_body {
    padding: 1.5em;
}

.preview_criterion_body ul {
    margin: 0 0 0 1.5em;
    padding: 0 0 0 1em;
}

.preview_criterion_body ul ul {
    list-style-type: circle;
}

.preview_criterion_body p {
    margin: 0;
}

.preview_criterion_body p.reviewer_note {
    font-weight: 700;
    margin-bottom: 1rem;
}

.preview_criterion_feedback {
    padding: 1em;
    border-radius: 6px;
    background: rgba(216, 44, 13, 0.05);
    margin-bottom: 1em;
}

.preview_criterion_feedback img {
    width: 100%;
    border: 0.75rem solid #D82C0D;
    display: block;
}

.preview_criterion_feedback.passed {
    background: rgba(90, 164, 71, 0.05);
}

.preview_criterion_feedback.passed img {
    border: 0.75rem solid #5AA447;
}

#close_preview_criterion_modal {
    position: absolute;
    top: 5px;
    right: 5px;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    background: white;
    outline: none;
    cursor: pointer;
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#close_preview_criterion_modal:hover {
    background: rgb(241, 241, 241);
}

.preview_criterion_error_message {
    text-align: center;
    color: #D82C0D;
}
